@using  Data.ViewModel;
@model Data.Models.Game
@{
    ViewData["Title"] = "Games finished";
}

@if ((ViewBag.GamesWon as List<PictureGameVM>).Count() == 0 && (ViewBag.GamesLost as List<PictureGameVM>).Count() == 0 && (ViewBag.SingleGamesFinished as List<PictureGameVM>).Count() == 0)
{
    <p><b>Vous n'avez pas encore de parties terminées</b></p>
}

@if ((ViewBag.GamesWon as List<PictureGameVM>).Count() > 0)
{
    <h3>Parties gagnées</h3>
    <div class="thumbnails">
        @foreach (var gameToPlay in ViewBag.GamesWon as List<PictureGameVM>)
        {
            <a asp-controller="Game" asp-action="Show" asp-route-id="@gameToPlay.GameId">
                <div class="thumbnail">
                    <img src="~/image/game/@gameToPlay.FullName" alt="vignette" />
                    <div>
                        Jeu n° @gameToPlay.GameId
                        <br />
                        <ul>
                            <li>joué le @gameToPlay.PlayedDate.ToString("dd/MM/yyyy à HH:mm:ss")</li>
                            @foreach (var pseudo_chromino in gameToPlay.Pseudos_chrominos)
                            {
                                string pseudo = pseudo_chromino.Key;
                                if (pseudo == ViewBag.PlayerPseudo)
                                    pseudo = "Vous";

                                <li>@pseudo : @pseudo_chromino.Value chrominos en main</li>
                            }
                        </ul>
                    </div>
                </div>
            </a>
        }
    </div>
}

@if ((ViewBag.GamesLost as List<PictureGameVM>).Count() > 0)
{
    <h3>Parties perdues</h3>
    <div class="thumbnails">
        @foreach (var gameToPlay in ViewBag.GamesLost as List<PictureGameVM>)
        {
            <a asp-controller="Game" asp-action="Show" asp-route-id="@gameToPlay.GameId">
                <div class="thumbnail">
                    <img src="~/image/game/@gameToPlay.FullName" alt="vignette" />
                    <div>
                        Jeu n° @gameToPlay.GameId
                        <br />
                        <ul>
                            <li>joué le @gameToPlay.PlayedDate.ToString("dd/MM/yyyy à HH:mm:ss")</li>
                            @foreach (var pseudo_chromino in gameToPlay.Pseudos_chrominos)
                            {
                                string pseudo = pseudo_chromino.Key;
                                if (pseudo == ViewBag.PlayerPseudo)
                                    pseudo = "Vous";

                                <li>@pseudo : @pseudo_chromino.Value chrominos en main</li>
                            }
                        </ul>
                    </div>
                </div>
            </a>
        }
    </div>
}

@if ((ViewBag.SingleGamesFinished as List<PictureGameVM>).Count() > 0)
{
    <h3>Parties solo terminées</h3>
    <div class="thumbnails">
        @foreach (var gameToPlay in ViewBag.SingleGamesFinished as List<PictureGameVM>)
        {
            <a asp-controller="Game" asp-action="Show" asp-route-id="@gameToPlay.GameId">
                <div class="thumbnail">
                    <img src="~/image/game/@gameToPlay.FullName" alt="vignette" />
                    <div>
                        Jeu n° @gameToPlay.GameId
                        <br />
                        <ul>
                            <li>joué le @gameToPlay.PlayedDate.ToString("dd/MM/yyyy à HH:mm:ss")</li>
                            @foreach (var pseudo_chromino in gameToPlay.Pseudos_chrominos)
                            {
                                string pseudo = pseudo_chromino.Key;
                                if (pseudo == ViewBag.PlayerPseudo)
                                    pseudo = "Vous";

                                <li>@pseudo : @pseudo_chromino.Value chrominos en main</li>
                            }
                        </ul>
                    </div>
                </div>
            </a>
        }
    </div>
}

<div>
    <a asp-controller="Home" asp-action="Index">Retour</a>
</div>