@using  Data.ViewModel;
@model Data.Models.Game
@{
    ViewData["Title"] = "Games in progress";
}


@if ((ViewBag.ListGamesWaitTurn as List<PictureGameVM>).Count() > 0)
{
    <div class="thumbnails">
        @foreach (var gameToPlay in ViewBag.ListGamesWaitTurn as List<PictureGameVM>)
        {
            <a asp-controller="Game" asp-action="Show" asp-route-id="@gameToPlay.GameId">
                <div class="thumbnail">
                    <img src="@gameToPlay.FullName" alt="vignette" />
                    <div>
                        Jeu n° @gameToPlay.GameId joué le @gameToPlay.PlayedDate
                        <br />
                        <ul>
                            @foreach (var pseudo_chromino in gameToPlay.Pseudos_chrominos)
                            {
                                string pseudo = pseudo_chromino.Key;
                                if (pseudo == ViewBag.PlayerPseudo)
                                    pseudo = "Vous";

                                <li>@pseudo : @pseudo_chromino.Value chrominos en main</li>
                            }
                        </ul>
                    </div>
                </div>
            </a>
        }
    </div>
}
else
{
    <p><b>Vous n'avez pas de parties où c'est au tour d'un adversaire de jouer</b></p>
}

<div>
    <a asp-controller="Home" asp-action="Index">Retour</a>
</div>