@using  Data.ViewModel;
@model Data.Models.Game
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>Bienvenue @ViewBag.PlayerPseudo</h2>
</div>

@if ((ViewBag.GamesToPlay as List<PictureGameVM>).Count() > 0)
{
    <h3>Jeux multijoueurs</h3>
    <div class="thumbnails">
        @foreach (var gameToPlay in ViewBag.GamesToPlay as List<PictureGameVM>)
        {
            <a asp-controller="Game" asp-action="Show" asp-route-id="@gameToPlay.GameId">
                <div class="thumbnail">
                    <img src="~/image/game/@gameToPlay.FullName" alt="vignette" />
                    <div>
                        Jeu n° @gameToPlay.GameId joué le @gameToPlay.PlayedDate
                        <br />
                        <ul>
                            @foreach (var pseudo_chromino in gameToPlay.Pseudos_chrominos)
                            {
                                string pseudo = pseudo_chromino.Key;
                                if (pseudo == ViewBag.PlayerPseudo)
                                    pseudo = "Vous";

                                <li>@pseudo : @pseudo_chromino.Value chrominos en main</li>
                            }
                        </ul>
                    </div>
                </div>
            </a>
        }
    </div>


}

@if ((ViewBag.SingleGames as List<PictureGameVM>).Count() > 0)
{
    <h3>Jeux solo</h3>

    <div class="thumbnails">
        @foreach (var gameToPlay in ViewBag.SingleGames as List<PictureGameVM>)
        {
            <a asp-controller="Game" asp-action="Show" asp-route-id="@gameToPlay.GameId">
                <div class="thumbnail">
                    <img src="~/image/game/@gameToPlay.FullName" alt="vignette" />
                    <div>
                        Jeu n° @gameToPlay.GameId joué le @gameToPlay.PlayedDate
                        <br />
                        @foreach (var pseudo_chromino in gameToPlay.Pseudos_chrominos)
                        {
                            <p>@pseudo_chromino.Value chrominos en main</p>
                        }
                    </div>
                </div>
            </a>
        }
    </div>

}

<div>
    <a asp-controller="Game" asp-action="New"><input type="button" class="btn btn-primary" value="Créer nouvelle partie" /></a>
</div>
<br />


<div>
    Voir vos <a asp-controller="Home" asp-action="GamesFinished">parties terminées</a>
</div>
<br />
<div>
    Voir vos <a asp-controller="Home" asp-action="GamesInProgress">parties en attente (tour d'un adversaire)</a>
</div>
