@model Data.Models.GamePlayer

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>GamePlayer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlayerTurn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlayerTurn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlayerPoints)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlayerPoints)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Game)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Game.Guid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Player)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Player.Password)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
