@using Microsoft.AspNetCore.Identity
@using  Data.ViewModel
@using Data.Models

@inject UserManager<Player> UserManager
@{
    ViewData["Title"] = "Accueil";
    var roles = await UserManager.GetRolesAsync(await UserManager.GetUserAsync(User));
    bool guest = !roles.Contains(nameof(Player));
    string playerName = guest ? "joueur sans compte" : UserManager.GetUserName(User);
    string classAvailable = guest ? "not-available" : "";
}

<div class="text-center">
    <h2>Bienvenue @playerName</h2>
</div>

<div class="icones-link">
    <a class="icone-link @classAvailable" asp-action="AgainstFriends">
        <div class="btn btn-homepage btn-humanvshuman "></div>
        <div>Parties multijoueurs</div>
    </a>
    <a class="icone-link" asp-action="AgainstBots">
        <div class="btn btn-homepage btn-humanvsbot"></div>
        <div>Parties contre ordinateur</div>
    </a>
    <a class="icone-link" asp-action="SingleGame">
        <div class="btn btn-homepage btn-humansingle"></div>
        <div>Entrainement</div>
    </a>
    <a class="icone-link @classAvailable" asp-action="InProgress">
        <div class="btn btn-homepage btn-inprogress"></div>
        <div>Parties en attente</div>
    </a>
    <a class="icone-link @classAvailable" asp-action="Index" asp-controller="Statistics">
        <div class="btn btn-homepage btn-statistics"></div>
        <div>Vos statistiques</div>
    </a>
    <a class="icone-link @classAvailable" asp-area="Identity" asp-page="/Account/Manage/Index">
        <div class="btn btn-homepage btn-settings"></div>
        <div>Vos paramètres</div>
    </a>
</div>