@page
@model LoginModel

@{
    ViewData["Title"] = "S'identifier";
}

<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-4 col-md-offset-2">
        @if ((Model.ExternalLogins?.Count ?? 0) != 0)
        {
            <hr />
            <h4>Avec un compte externe</h4>
            <form id="external-account" class="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                @foreach (var provider in Model.ExternalLogins)
                {
                    <button type="submit" class="btn btn-externalaccount img-@provider.Name" name="provider" value="@provider.Name" title="Connexion avec @provider.DisplayName"></button>
                }
            </form>
        }
    </div>
    <div class="col-md-4">
        <hr />
        <form id="account" method="post">
            <h4>Avec votre compte chromino</h4>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.PlayerName"></label>
                <input asp-for="Input.PlayerName" class="form-control" autocomplete="username" />
                <span asp-validation-for="Input.PlayerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" autocomplete="current-password" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label asp-for="Input.RememberMe">
                        <input asp-for="Input.RememberMe" checked />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-toolbar img-play" value="Ok"></button>
            </div>
            <div class="form-group">
                <p><a id="forgot-password" asp-page="./ForgotPassword">Mot de passe oublié ?</a></p>
                <p><a asp-page="./Register">Créer un compte joueur</a></p>
            </div>
        </form>
    </div>
    <div class="col-md-4 col-md-offset-2">
        <hr />
        <h4>Jouer sans compte</h4>
        <p>Les fonctionnalités seront limitées et vous ne pourrez pas jouer entre ami·es</p>
        <p><a asp-action="NoAccount" asp-controller="Player" asp-area="">Jouer sans compte</a></p>
    </div>

</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
