@using Data.Models
@using Data.ViewModel
@using Data.Enumeration
@model GameVM
@{
    const string classFree = "Free";
    const string classPossible = "Possible";
    Layout = "_LayoutShow.cshtml";
    ViewData["Title"] = "Chromino - Jouer";
    string playerTurn = "";
    Dictionary<string, int> pseudosExceptCurrentPlayer_Chrominos = new Dictionary<string, int>(Model.PseudosChrominos);
    pseudosExceptCurrentPlayer_Chrominos.Remove("Vous");
    PlayReturn playReturn = TempData["PlayReturn"] == null ? PlayReturn.Ok : (PlayReturn)TempData["PlayReturn"];
    int memosNumbers = 0;
    int notReadMessages = 0;
    if (Model.GamePlayer != null)
    {
        memosNumbers = Model.GamePlayer.Memo == null ? 0 : Model.GamePlayer.Memo.Count(x => x == '\n') + 1;
        notReadMessages = Model.GamePlayer.NotReadMessages;
    }
}
<div id="toolbar">
    <form id="FormHome" asp-action="Index" asp-controller="Home" style="display:none"></form>
    <button id="ButtonHome" class="btn btn-toolbar img-home" onclick="Action(this.id);"></button>
    <button id="ButtonInfo" class="btn btn-toolbar img-infogame" onclick="Action(this.id);"></button>
    @if (Model.Player.Help > 0 && !Model.ShowPossiblesPositions && !Model.Game.Status.IsFinish())
    {
        <form id="FormHelp" asp-action="Help" style="display:none">
            <input name="gameId" value="@Model.Game.Id" />
        </form>
        <button id="ButtonHelp" class="btn btn-toolbar img-helpPlay" onclick="Action(this.id);">
            <p id="HelpNumber" class="notification notification-green">@Model.Player.Help</p>
        </button>
    }
    @if (!Model.OpponentsAreBots)
    {
        <button id="ButtonChat" class="btn btn-toolbar img-chat" onclick="Action(this.id);">
            <p id="NotifChat" class="notification notification-red" style="display:none">@notReadMessages</p>
        </button>
    }
    <button id="ButtonMemo" class="btn btn-toolbar img-memo" onclick="Action(this.id);">
        <p id="NotifMemo" class="notification notification-green" style="display:none"></p>
    </button>
    @if (!Model.Game.Status.IsFinish())
    {
        if (Model.PlayerTurn.Id == Model.Player.Id)
        {
            playerTurn = "C'est à vous de jouer";
            @if (Model.ChrominosInStack > 0 && (!Model.GamePlayerTurn.PreviouslyDraw || pseudosExceptCurrentPlayer_Chrominos.Count == 0))
            {
                <form id="FormDrawChromino" asp-action="DrawChromino" style="display:none">
                    <input name="gameId" value="@Model.Game.Id" />
                </form>
                <button id="ButtonDrawChromino" class="btn btn-toolbar img-draw" onclick="Action(this.id);"></button>
            }
            else if (pseudosExceptCurrentPlayer_Chrominos.Count > 0)
            {
                <form id="FormSkipTurn" asp-action="SkipTurn" style="display:none">
                    <input name="gameId" value="@Model.Game.Id" />
                </form>
                <button id="ButtonSkipTurn" class="btn btn-toolbar img-skip" onclick="Action(this.id);"></button>
            }
        }
        else
        {
            playerTurn = $"C'est à {@Model.PlayerTurn.UserName} de jouer";
        }
    }
    @if (!Model.Game.Status.IsFinish() && Model.PlayerTurn.Id == Model.Player.Id && (Model.PlayerChrominosVM.Count != 1 || Model.PlayerChrominosVM[0].SquaresVM[1].Color != ColorCh.Cameleon))
    {
        <form id="FormPlayChromino" asp-action="Play" hidden>
            <input id="FormGameId" name="gameId" value="@Model.Game.Id" />
            <input id="FormChrominoId" name="chrominoId" />
            <input id="FormX" name="x" />
            <input id="FormY" name="y" />
            <input id="FormOrientation" name="orientation" />
            <input id="FormFlip" name="flip" />
        </form>
        <button id="ButtonPlayChromino" class="btn btn-toolbar img-play" style="display:none" onclick="Action(this.id);"></button>
    }
    @if (!Model.BotsId.Contains(Model.PlayerTurn.Id) && Model.PlayerTurn.Id != Model.Player.Id || Model.Game.Status.IsFinish())
    {
        <form id="FormNextGame" asp-action="ShowNextToPlay" style="display:none"></form>
        <button id="ButtonNextGame" class="btn btn-toolbar img-nextgame" onclick="Action(this.id);"></button>
    }
</div>
<br>
<div id="GameArea" ontouchstart="TouchStart()" ontouchmove="TouchMove()" ontouchend="TouchEnd()">
    @{
        string info = "";
        List<int> PossibleSquareIndexes = new List<int>();
        if (Model.ShowPossiblesPositions)
        {
            for (int iChromino = 0; iChromino < Model.PossiblesChrominosVM.Count; iChromino++)
                for (int i = 0; i < 3; i++)
                    PossibleSquareIndexes.Add(Model.PossiblesChrominosVM[iChromino].IndexesX[i] + Model.PossiblesChrominosVM[iChromino].IndexesY[i] * Model.ColumnsNumber);
            if (Model.PossiblesChrominosVM.Count == 0)
                info = "Aucun emplacement sur lequel jouer";
        }
    }
    <div id="PlayerHistory">
        <div id="HistoryChrominos" onclick="Action(this.id);">
            <button id="ButtonPreviousChromino" class="btn btn-historyChromino img-previousChromino"></button>
            <button id="ButtonNextChromino" class="btn btn-historyChromino img-nextChromino"></button>
            <div id="PlayerHistoryPseudo">@info</div>
        </div>
    </div>
    @for (int j = 0; j < Model.LinesNumber; j++)
    {
        <div id="Line_@j" class="gameLineArea">
            @for (int i = 0; i < Model.ColumnsNumber; i++)
            {
                int index = i + j * Model.ColumnsNumber;
                ColorCh color = Model.SquaresVM[index].Color;
                if (color != ColorCh.None)
                {
                    string classOpenSides = "Square Open";
                    if (Model.SquaresVM[index].OpenRight) classOpenSides += "Right";
                    if (Model.SquaresVM[index].OpenBottom) classOpenSides += "Bottom";
                    if (Model.SquaresVM[index].OpenLeft) classOpenSides += "Left";
                    if (Model.SquaresVM[index].OpenTop) classOpenSides += "Top";
                    string classColor = color.ToString();
                    string onclick = "";
                    if (color == ColorCh.Cameleon)
                        onclick = "onclick=Action('Cameleon');";
                    <div id="Square_@index" class="@classOpenSides @classColor" @onclick></div>
                }
                else
                {
                    string classColor = classFree;
                    if (PossibleSquareIndexes.Contains(index)) classColor = classPossible;
                    string classCloseEdge = "Square";
                    if (i < Model.ColumnsNumber - 1 && Model.SquaresVM[i + 1 + j * Model.ColumnsNumber].Color != ColorCh.None) classCloseEdge += " CloseRight";
                    if (j < Model.LinesNumber - 1 && Model.SquaresVM[i + (j + 1) * Model.ColumnsNumber].Color != ColorCh.None) classCloseEdge += " CloseBottom";
                    if (i > 0 && Model.SquaresVM[i - 1 + j * Model.ColumnsNumber].Color != ColorCh.None) classCloseEdge += " CloseLeft";
                    if (j > 0 && Model.SquaresVM[i + (j - 1) * Model.ColumnsNumber].Color != ColorCh.None) classCloseEdge += " CloseTop";
                    <div id="Square_@index" class="@classCloseEdge @classColor"></div>
                }
            }
        </div>
    }
</div>
<div id="Hand" onclick="Action(this.id);">
    @foreach (ChrominoVM chrominosViewModel in Model.PlayerChrominosVM)
    {
        string id = chrominosViewModel.ChrominoId.ToString();
        <div id="@id" class="handPlayerChromino">
            @for (int i = 0; i < 3; i++)
            {
                ColorCh color = chrominosViewModel.SquaresVM[i].Color;
                string classColor = color.ToString();
                <div class="Square @classColor"></div>
            }
        </div>
    }
</div>

@if (Model.BotsId.Contains(Model.PlayerTurn.Id) && !Model.Game.Status.IsFinish())
{
    @section ScriptPlayBot
    {
        <script>
            window.onload = function () {
                location.assign("@Url.Action("PlayBot", "Game", new { id = Model.Game.Id, botId = Model.PlayerTurn.Id})");
            }
        </script>
    }
}
<partial name="_IncludeJs" />
@{
    const int horizontal = (int)Orientation.Horizontal;
    const int vertical = (int)Orientation.Vertical;
    bool showInfoPopup = false;
    bool showBotPlayingInfoPopup = false;
    if (!Model.ShowPossiblesPositions && (TempData["ByShowNextToPlay"] != null || Model.Game.Status.IsFinish() || (Model.PlayerTurn.Id == Model.Player.Id && !Model.GamePlayerTurn.PreviouslyDraw && TempData["PlayReturn"] == null && (pseudosExceptCurrentPlayer_Chrominos.ContainsValue(1) || pseudosExceptCurrentPlayer_Chrominos.ContainsValue(0)))))
        showInfoPopup = true;
    else if (ViewData["ShowBotPlayingInfoPopup"] != null)
        showBotPlayingInfoPopup = true;
}

@section ScriptPreJs
{
    <script>
var GameId = @Model.Game.Id;
var UrlTipOff = '@Url.Action("Off", "Tip")';
var UrlMemoAdd = '@Url.Action("Add", "Memo")';
var UrlChatAdd = '@Url.Action("Add", "Chat")';
var UrlChatRead = '@Url.Action("Read", "Chat")';
var PreviouslyDraw = @Model.GamePlayerTurn.PreviouslyDraw.ToString().ToLower();
@{string thisPlayerTurn = (Model.PlayerTurn.Id == Model.Player.Id).ToString().ToLower();}
var ThisPlayerTurn = @thisPlayerTurn;
var GameAreaLinesNumber = @Model.LinesNumber;
var GameAreaColumnsNumber = @Model.ColumnsNumber;
var XMin = @Model.XMin;
var YMin = @Model.YMin;
var Horizontal = @horizontal;
var Vertical = @vertical;
var NotReadMessages = @notReadMessages;
var MemosNumber = @memosNumbers;
var PlayReturn = "@playReturn.ToString()";
var ShowInfoPopup = @showInfoPopup.ToString().ToLower();
var ShowBotPlayingInfoPopup = @showBotPlayingInfoPopup.ToString().ToLower();
var Tips = new Array;
@{
    foreach (Tip tip in Model.Tips)
    {
        @:Tips.push({ id: "@tip.Id", elementId: "@tip.DomElementId", headPictureClass:"@tip.HeadPictureClass", description: "@Html.Raw(tip.Description)", illustrationPictureClass: "@tip.IllustrationPictureClass" });
    }
}
var HistoryChrominos = new Array;
@{
    byte move = (byte)(Model.Game.Move - 1);
    for (int iChromino = 0; iChromino < Model.ChrominosPlayedVM.Count; iChromino++)
    {
        if (move == 0)
            break;
        while (move > Model.ChrominosPlayedVM[iChromino].Move)
        {
            string currentPseudo = Model.Pseudos[(move - 1) % Model.Pseudos.Count];
            string playerPass = currentPseudo == "Vous" ? "Vous avez passé" :  $"{currentPseudo} a passé";
            @:HistoryChrominos.push({ playerName: "@playerPass", square0: "Na", square1: "Na", square2: "Na"});
            move--;
        }
        string[] squares = new string[3];
        for (int i = 0; i < 3; i++)
            squares[i] = "Square_" + (Model.ChrominosPlayedVM[iChromino].IndexesX[i] + Model.ChrominosPlayedVM[iChromino].IndexesY[i] * Model.ColumnsNumber).ToString();
        @:HistoryChrominos.push({ playerName: "@Model.Pseudos[(move - 1) % Model.Pseudos.Count]", square0: "@squares[0]", square1: "@squares[1]", square2: "@squares[2]" });
        move--;
    }
}

    </script>
}
<div id="PopupInfo" class="popup" style="display:none">
    <div class="div-head img-infogame" title="information"></div>
    @if (Model.Game.Status.IsFinish())
    {
        @if (Model.GamePlayer.Win == false)
        {
            <h2>Vous avez perdu</h2>
            <h3>Dommage</h3>
            <br />
        }
        else if (pseudosExceptCurrentPlayer_Chrominos.ContainsValue(0))
        {
            <h2>Victoire ex-æquo </h2>
            <h3>Bravo</h3>
            <br />
        }
        else
        {
            <h2>Victoire</h2>
            <h3>Bravo !</h3>
            <br />
        }
    }
    else
    {
        <h3>@playerTurn</h3>
    }
    @foreach (var pseudoChromino in Model.PseudosChrominos)
    {
        string pseudoHave = pseudoChromino.Key == "Vous" ? "Vous avez" : pseudoChromino.Key + " a";
        if (pseudoChromino.Value > 1)
        {
            <p>@pseudoHave @pseudoChromino.Value chrominos en main</p>
        }
        else if (pseudoChromino.Value == 1)
        {
            <div class="opponentLastChromino">
                @pseudoHave &nbsp;
                @for (int i = 0; i < 3; i++)
                {
                    string classOpenSides;
                    switch (i)
                    {
                        case 0:
                            classOpenSides = "OpenRight";
                            break;
                        case 1:
                            classOpenSides = "OpenRightLeft";
                            break;
                        case 2:
                        default:
                            classOpenSides = "OpenLeft";
                            break;
                    }
                    ColorCh color = Model.Pseudos_LastChrominoVM[pseudoChromino.Key].SquaresVM[i].Color;
                    string classColor = color.ToString();
                    <div class="Square @classOpenSides @classColor"></div>
                }
            </div>
        }
        else
        {
            if (pseudoChromino.Key == "Vous")
            {
                <p class="winner">Vous avez gagné la partie</p>
            }
            else
            {
                <p class="winner">@pseudoChromino.Key a gagné la partie</p>
            }
        }
    }
    @if (Model.AskRematch)
    {
        <form id="FormRematch" asp-action="Rematch" hidden>
            <input name="playersName" value="@Model.Player.UserName" />
            @foreach (var pseudo_chromino in pseudosExceptCurrentPlayer_Chrominos)
            {
                <input name="playersName" value="@pseudo_chromino.Key" />
            }
        </form>
        <div>faire la revanche ?&nbsp;<button type="submit" form="FormRematch" class="btn btn-toolbar img-rematch"></button></div>
    }
    <br />
    @if (Model.ChrominosInStack > 1)
    {
        <p class="minorInfo">Pioche : @Model.ChrominosInStack chrominos</p>
    }
    else if (Model.ChrominosInStack == 1)
    {
        <p class="minorInfo">Pioche : 1 chromino</p>
    }
    else
    {
        <p class="minorInfo">Il n'y a plus de chrominos dans la pioche</p>
    }
</div>
<div id="errorPopup" class="popup" style="display:none">
    <div class="div-head div-error" title="erreur"></div>
    @switch (playReturn)
    {
        case PlayReturn.NotFree:
            <p id="errorMessage">L'emplacement où vous posez votre chromino n'est pas libre.</p>
            <p style="text-align:center">Merci de rejouer.</p>
            break;
        case PlayReturn.DifferentColorsAround:
            <p id="errorMessage">Les cotés de votre chromino ne peuvent pas toucher des couleurs différentes.</p>
            <p style="text-align:center">Merci de rejouer.</p>
            <img class="illustration" src="~/image/example/DiffSides.svg" alt="example" />
            <p style="text-align:center; font-size:small">exemple invalide et exemple valide</p>
            break;
        case PlayReturn.NotMinTwoSameColors:
            <p id="errorMessage">Au moins 2 cotés de votre chromino doivent toucher un chromino en jeu.</p>
            <p style="text-align:center">Merci de rejouer.</p>
            <img class="illustration" src="~/image/example/2Sides.svg" alt="example" />
            <p style="text-align:center; font-size:small">exemples valides</p>
            break;
        case PlayReturn.LastChrominoIsCameleon:
            <p id="errorMessage">Vous ne pouvez pas jouer un chromino caméléon en dernier.</p>
            <p style="text-align:center">Merci de piocher un chromino.</p>
            <img class="illustration" src="~/image/example/LastTurnCameleon.svg" alt="example" />
            <p style="text-align:center; font-size:small">exemple de chromino Caméléon</p>
            break;
        case PlayReturn.NotPlayerTurn:
            <p id="errorMessage">Vous avez déjà joué.</p>
            <p style="text-align:center">Merci d'attendre votre tour.</p>
            break;
        case PlayReturn.ErrorGameFinish:
            <p id="errorMessage">La partie est terminée.</p>
            <p style="text-align:center">Vous ne pouvez plus y jouer.</p>
            break;
        default:
            <p id="errorMessage"></p>
            <p id="errorMessageEnd" style="text-align:center"></p>
            break;
    }
</div>
<div id="PopupMemo" class="popup popup-memochat" style="display:none">
    <div class="div-head img-memo" title="mémo"></div>
    <textarea id="MemoContent" asp-for="GamePlayer.Memo" name="memo" class="form-control" rows="15" placeholder="Mémo (visible seulement par vous)">@Model.GamePlayer.Memo</textarea>
    <div class="form-group">
        <button id="MemoAdd" class="btn btn-primary" onclick="AddMemo();">Enregistrer</button>
    </div>
</div>
<div id="PopupChat" class="popup popup-memochat" style="display:none">
    <div class="div-head img-chat" title="chat"></div>
    <div>
        <textarea id="ChatPopupContent" class="form-control" rows="10" disabled>@Model.Game.Chat</textarea>
        <div class="form-group">
            <input id="ChatInput" name="chat" class="form-control" placeholder="Ajouter un message (pour tous)" required />
            <div class="emojis">
                <span class="emoji">🖐️</span><span class="emoji">👍</span><span class="emoji">👎</span><span class="emoji">😀</span><span class="emoji">😇</span><span class="emoji">😎</span><span class="emoji">😁</span><span class="emoji">😜</span><span class="emoji">😂</span>
            </div>
            <div class="emojis">
                <span class="emoji">😉</span><span class="emoji">😘</span><span class="emoji">😍</span><span class="emoji">😕</span><span class="emoji">😡</span><span class="emoji">😱</span><span class="emoji">😤</span><span class="emoji">😢</span><span class="emoji">😭</span>
            </div>
            <button id="ChatAdd" class="btn btn-primary" onclick="AddChat();">Envoyer</button>
        </div>
    </div>
</div>
<div id="botPlayingInfoPopup" class="popup popup-wait" style="display:none">
    <div class="div-head img-info" title="info"></div>
    <p>Le bot est en train de jouer.</p>
    <p>Merci de patienter quelques secondes...</p>
    <div class="wait"></div>
</div>
<div id="TipPopup" class="popup" style="display:none">
    <div id="TipHeadPicture" class="div-head" title="didacticiel"></div>
    <div id="TipHtml"></div>
    <div class="illustrations">
        <div id="TipIllustration" title="illustration"></div>
    </div>
    <input id="TipDontShowAgain" type="checkbox" /> Ne plus afficher cette fenêtre
    <div><input name="dontShowAllTips" type="checkbox" /> Ne plus afficher aucune fenêtre du didacticiel</div>
    <button class="btn btn-primary btn-tip" onclick="TipClosePopup('#TipPopup', '#TipDontShowAgain');">C'est noté !</button>
</div>