@using Data.Models
@using Data.ViewModel
@using Data.Enumeration
@using Tool
@model GameVM
@{
    const string classFree = "Free";
    Layout = "_LayoutShow.cshtml";
    ViewData["Title"] = "Chromino - Jouer";
    bool showInfoPopup = TempData["ShowInfo"] != null ? true : false;
}
@section ScriptJs
{
    <script>
    const GameId = @Model.Game.Id;
    var ShowInfoPopup = @showInfoPopup.ToJs();
    </script>
}
<div id="toolbar">
    <form id="FormHome" asp-action="Index" asp-controller="Home" style="display:none"></form>
    <button id="ButtonHome" run="Home" tip="Home" class="btn btn-toolbar img-home"></button>
    <button id="ButtonInfo" run="Info" tip="Info" class="btn btn-toolbar img-infogame"></button>
    <button id="ButtonHelp" run="Help" tip="Help" class="btn btn-toolbar img-helpPlay" style="display:none">
        <span id="HelpNumber" class="notification notification-green"></span>
    </button>
    <button id="ButtonChat" run="Chat" tip="Chat" class="btn btn-toolbar img-chat" style="display:none">
        <span id="NotifChat" class="notification notification-red" style="display:none"></span>
    </button>
    <button id="ButtonMemo" run="Memo" tip="Memo" class="btn btn-toolbar img-memo">
        <span id="NotifMemo" class="notification notification-green" style="display:none"></span>
    </button>
    <button id="ButtonDrawChromino" run="DrawChromino" tip="DrawChromino" class="btn btn-toolbar img-draw" style="display:none"></button>
    <button id="ButtonSkipTurn" run="SkipTurn" tip="SkipTurn" class="btn btn-toolbar img-skip" style="display:none"></button>
    <button id="ButtonPlayingChromino" run="PlayingChromino" tip="PlayChromino" class="btn btn-toolbar img-play" style="display:none"></button>
    <form id="FormNextGame" asp-action="ShowNextToPlay" style="display:none"></form>
    <button id="ButtonNextGame" run="NextGame" tip="NextGame" class="btn btn-toolbar img-nextgame" style="display:none"></button>
</div>
<br>
<div id="HistoryChrominos" run="HistoryChrominos" tip="HistoryChrominos">
    <button id="ButtonPreviousChromino" class="btn btn-historyChromino img-previousChromino"></button>
    <button id="ButtonNextChromino" class="btn btn-historyChromino img-nextChromino"></button>
</div>
<div id="PlayerHistoryPseudo"></div>
<div id="InfoGame"></div>
<div id="GameArea">
    @for (int j = 0; j < Model.LinesNumber; j++)
    {
        <div id="Line_@j" class="gameLineArea">
            @for (int i = 0; i < Model.ColumnsNumber; i++)
            {
                int index = i + j * Model.ColumnsNumber;
                ColorCh color = Model.Squares[index].Color;
                if (color != ColorCh.None)
                {
                    string classOpenSides = "Square Open";
                    if (Model.Squares[index].OpenRight) classOpenSides += "Right";
                    if (Model.Squares[index].OpenBottom) classOpenSides += "Bottom";
                    if (Model.Squares[index].OpenLeft) classOpenSides += "Left";
                    if (Model.Squares[index].OpenTop) classOpenSides += "Top";
                    string classColor = color.ToString();
                    string tip = color == ColorCh.Cameleon ? "tip=Camelon" : "";
                    <div id="Square_@index" @tip class="@classOpenSides @classColor"></div>
                }
                else
                {
                    string classColor = classFree;
                    string classCloseEdge = "Square";
                    if (i < Model.ColumnsNumber - 1 && Model.Squares[i + 1 + j * Model.ColumnsNumber].Color != ColorCh.None) classCloseEdge += " CloseRight";
                    if (j < Model.LinesNumber - 1 && Model.Squares[i + (j + 1) * Model.ColumnsNumber].Color != ColorCh.None) classCloseEdge += " CloseBottom";
                    if (i > 0 && Model.Squares[i - 1 + j * Model.ColumnsNumber].Color != ColorCh.None) classCloseEdge += " CloseLeft";
                    if (j > 0 && Model.Squares[i + (j - 1) * Model.ColumnsNumber].Color != ColorCh.None) classCloseEdge += " CloseTop";
                    <div id="Square_@index" class="@classCloseEdge @classColor"></div>
                }
            }
        </div>
    }
</div>
<div id="Hand" tip="Hand">
    @foreach (ChrominoVM chrominoVM in Model.PlayerChrominosVM)
    {
        <div id="@chrominoVM.ChrominoId" class="handPlayerChromino">
            @for (int i = 0; i < 3; i++)
            {
                ColorCh color = chrominoVM.Squares[i].Color;
                string tip = color == ColorCh.Cameleon ? "tip=Camelon" : "";
                string classColor = color.ToString();
                <div @tip class="Square @classColor"></div>
            }
        </div>
    }
</div>
<div id="PopupInfo" class="popup" style="display:none">
    <div class="div-head img-infogame" title="information"></div>
    <div id="PopupInfoHead"></div>
    <form id="FormRematch" asp-action="Rematch" hidden>
    </form>
    <div id="Askrematch" style="display:none">
        <div id="Askrematch-text" class="askrematch"></div>
        <button type="submit" form="FormRematch" class="btn btn-toolbar img-rematch askrematch"></button>
    </div>
    @foreach (var pseudoId in Model.PseudosIds)
    {
        <div id="Player_@pseudoId.Value"></div>
    }
    <br />
    <p id="InStack" class="minorInfo"></p>
    <div id="TestPlayersLogged"></div> @*TODO supprimer*@
</div>
<div id="Waiting" class="cssload-container-general" style="display:none">
    <div class="cssload-internal"><div class="cssload-ballcolor cssload-ball_1"> </div></div>
    <div class="cssload-internal"><div class="cssload-ballcolor cssload-ball_2"> </div></div>
    <div class="cssload-internal"><div class="cssload-ballcolor cssload-ball_3"> </div></div>
    <div class="cssload-internal"><div class="cssload-ballcolor cssload-ball_4"> </div></div>
</div>
