@using Data.Enumeration;
@using  Data.ViewModel;

@model GameViewModel;
@{
    Layout = null;
    ViewData["Title"] = "Chromino - Play !";
    string gameStatus;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
    <div id="toolbar">
        <div>
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        </div>

        @switch (Model.GameStatus)
        {
            case GameStatus.Finished:
                gameStatus = "finished";
                break;

            case GameStatus.Aborted:
                gameStatus = "aborted";
                break;

            case GameStatus.InProgress:
                gameStatus = "in progress";
                break;

            case GameStatus.InPause:
            default:
                gameStatus = "in pause";
                break;
        }
        <p>Game is @gameStatus  -  Chrominos in game : @Model.ChrominosInGame  -  Chrominos in stack : @Model.ChrominosInStack</p>
        @for (int i = 0; i < Model.PlayerNumberChrominos.Count; i++)
        {
            <p>Player @(i + 1)  : @Model.PlayerNumberChrominos[i] in hand</p>
        }

        <div class="row">
            <div class="col-md-4">
                <form asp-action="AutoPlay">
                    <input name="gameId" type="hidden" value="@Model.GameId" />
                    <div>
                        <input type="checkbox" name="autoPlay" id="autoPlay" value="true" unchecked>
                        <label for="autoPlay">Autoplay</label>
                    </div>
                    <input type="submit" value="Play" class="btn btn-primary" />
                </form>
            </div>
        </div>
    </div>

    <div id="handPlayer">
        @foreach (ChrominoViewModel chrominosViewModel in Model.IdentifiedPlayerChrominosViewModel)
        {
            <div class="handPlayerChromino">
                @for (int i = 0; i < 3; i++)
                {
                    OpenEdge openEdge = chrominosViewModel.SquaresViewModel[i].Edge;
                    SquareViewModelState state = chrominosViewModel.SquaresViewModel[i].State;
                    string styleColor;
                    switch (state)
                    {
                        case SquareViewModelState.Free:
                            styleColor = "style=background-color:white";
                            openEdge = OpenEdge.All;
                            break;
                        case SquareViewModelState.Blue:
                            styleColor = "style=background-color:dodgerblue";
                            break;
                        case SquareViewModelState.Green:
                            styleColor = "style=background-color:green";
                            break;
                        case SquareViewModelState.Purple:
                            styleColor = "style=background-color:purple";
                            break;
                        case SquareViewModelState.Red:
                            styleColor = "style=background-color:red";
                            break;
                        case SquareViewModelState.Yellow:
                            styleColor = "style=background-color:yellow";
                            break;
                        case SquareViewModelState.Cameleon:
                        default:
                            styleColor = "style=background-color:burlywood";
                            break;
                    }
                    switch (openEdge)
                    {
                        case OpenEdge.Right:
                            <div class="squareOpenRight" @styleColor></div>
                            break;
                        case OpenEdge.Bottom:
                            <div class="squareOpenBottom" @styleColor></div>
                            break;
                        case OpenEdge.Left:
                            <div class="squareOpenLeft" @styleColor></div>
                            break;
                        case OpenEdge.Top:
                            <div class="squareOpenTop" @styleColor></div>
                            break;
                        case OpenEdge.BottomTop:
                            <div class="squareOpenTopBotom" @styleColor></div>
                            break;
                        case OpenEdge.RightLeft:
                            <div class="squareOpenLeftRight" @styleColor></div>
                            break;
                        case OpenEdge.All:
                        default:
                            <div class="squareOpenAll"></div>
                            break;
                    }
                }
            </div>
        }
    </div>

    <br>
    <div id="gameArea">
        @for (int j = 0; j < Model.LinesNumber; j++)
        {
            <div class="gameLineArea">
                @for (int i = 0; i < Model.ColumnsNumber; i++)
                {
                    int index = i + j * Model.ColumnsNumber;
                    OpenEdge openEdge = Model.SquaresViewModel[index].Edge;
                    bool leftClosed = false;
                    bool topClosed = false;

                    if (openEdge != OpenEdge.All && openEdge != OpenEdge.Left && openEdge != OpenEdge.RightLeft)
                        leftClosed = true;

                    if (openEdge != OpenEdge.All && openEdge != OpenEdge.Top && openEdge != OpenEdge.BottomTop)
                        topClosed = true;

                    if (leftClosed && i > 0)
                    {
                        int leftIndex = (i - 1) + j * Model.ColumnsNumber;
                        OpenEdge leftOpenEdge = Model.SquaresViewModel[leftIndex].Edge;
                        if (leftOpenEdge != OpenEdge.All && leftOpenEdge != OpenEdge.Right && leftOpenEdge != OpenEdge.RightLeft)
                        {
                            // border à afficher en commun => il est déjà affiché donc on ne l'affiche pas
                            openEdge = openEdge switch
                            {
                                OpenEdge.BottomTop => OpenEdge.BottomLeftTop,
                                OpenEdge.Right => OpenEdge.RightLeft,
                                OpenEdge.Top => OpenEdge.LeftTop,
                                _ => OpenEdge.BottomLeft,
                            };
                        }
                    }
                    if (topClosed && j > 0)
                    {
                        int topIndex = i + (j - 1) * Model.ColumnsNumber;
                        OpenEdge topOpenEdge = Model.SquaresViewModel[topIndex].Edge;
                        if (topOpenEdge != OpenEdge.All && topOpenEdge != OpenEdge.Bottom && topOpenEdge != OpenEdge.BottomTop)
                        {
                            // border à afficher en commun => il est déjà affiché donc on ne l'affiche pas
                            openEdge = openEdge switch
                            {
                                OpenEdge.RightLeft => OpenEdge.RightLeftTop,
                                OpenEdge.Right => OpenEdge.RightTop,
                                OpenEdge.Left => OpenEdge.LeftTop,
                                OpenEdge.BottomLeft => OpenEdge.BottomLeftTop,
                                _ => OpenEdge.BottomTop,
                            };
                        }
                    }

                    SquareViewModelState state = Model.SquaresViewModel[index].State;
                    string styleColor;
                    switch (state)
                    {
                        case SquareViewModelState.Free:
                            styleColor = "style=background-color:white";
                            openEdge = OpenEdge.All;
                            break;
                        case SquareViewModelState.Blue:
                            styleColor = "style=background-color:dodgerblue";
                            break;
                        case SquareViewModelState.Green:
                            styleColor = "style=background-color:green";
                            break;
                        case SquareViewModelState.Purple:
                            styleColor = "style=background-color:purple";
                            break;
                        case SquareViewModelState.Red:
                            styleColor = "style=background-color:red";
                            break;
                        case SquareViewModelState.Yellow:
                            styleColor = "style=background-color:yellow";
                            break;
                        case SquareViewModelState.Cameleon:
                        default:
                            styleColor = "style=background-color:burlywood";
                            break;
                    }
                    switch (openEdge)
                    {
                        case OpenEdge.Right:
                            <div class="squareOpenRight" @styleColor></div>
                            break;
                        case OpenEdge.Bottom:
                            <div class="squareOpenBottom" @styleColor></div>
                            break;
                        case OpenEdge.Left:
                            <div class="squareOpenLeft" @styleColor></div>
                            break;
                        case OpenEdge.Top:
                            <div class="squareOpenTop" @styleColor></div>
                            break;
                        case OpenEdge.BottomTop:
                            <div class="squareOpenTopBotom" @styleColor></div>
                            break;
                        case OpenEdge.RightLeft:
                            <div class="squareOpenLeftRight" @styleColor></div>
                            break;
                        case OpenEdge.BottomLeftTop:
                            <div class="squareOpenBottomLeftTop" @styleColor></div>
                            break;
                        case OpenEdge.RightLeftTop:
                            <div class="squareOpenRightLeftTop" @styleColor></div>
                            break;
                        case OpenEdge.LeftTop:
                            <div class="squareOpenLeftTop" @styleColor></div>
                            break;
                        case OpenEdge.BottomLeft:
                            <div class="squareOpenBottomLeft" @styleColor></div>
                            break;
                        case OpenEdge.RightTop:
                            <div class="squareOpenRightTop" @styleColor></div>
                            break;
                        case OpenEdge.All:
                        default:
                            <div class="squareOpenAll"></div>
                            break;
                    }
                }
            </div>
        }
    </div>

    @if (Model.AutoPlay == true && (Model.GameStatus != GameStatus.Finished && Model.GameStatus != GameStatus.Aborted))
    {
        <script>
            window.onload = function () { continueRandomGame(); }

            function continueRandomGame() {
        location.assign("@Url.Action("ContinueRandomGame", "Game", new { id = Model.GameId })");
        }
        </script>
    }

</body>
</html>
