@using Data.Enumeration;
@using  Data.ViewModel;

@model GameVM;
@{
    Layout = null;
    ViewData["Title"] = "Chromino - Jouer !";
    string playerTurn = "";
    Dictionary<string, int> pseudosExceptCurrentPlayer_Chrominos = new Dictionary<string, int>(Model.PseudosChrominos);
    pseudosExceptCurrentPlayer_Chrominos.Remove(Model.PlayerPseudo);
    PlayReturn playReturn = TempData["PlayReturn"] == null ? PlayReturn.Ok : (PlayReturn)TempData["PlayReturn"];
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
    <div id="toolbar">
        <a class="btn btn-toolbar btn-home" asp-area="" asp-controller="Home" asp-action="Index"></a>
        <button id="buttonInfo" class="btn btn-toolbar btn-infogame" onclick="ShowPopup('#infoPopup');"></button>
        @if (!Model.OpponenentsAreBots)
        {
            <button class="btn btn-toolbar btn-chat" onclick="ShowPopup('#ChatPopup');">
                <p id="NotifChat" class="notification" style="display:none"></p>
            </button>
        }
        <button class="btn btn-toolbar btn-memo" onclick="ShowPopup('#MemoPopup');"></button>
        @if (Model.Game.Status == GameStatus.InProgress || Model.Game.Status == GameStatus.SingleInProgress)
        {
            if (Model.PlayerTurn.UserName == Model.PlayerPseudo)
            {
                playerTurn = "C'est à vous de jouer";
                @if (Model.ChrominosInStack > 0 && (!Model.GamePlayerTurn.PreviouslyDraw || pseudosExceptCurrentPlayer_Chrominos.Count == 0))
                {
                    <form id="FormDrawChromino" asp-action="DrawChromino" style="display:none">
                        <input name="gameId" value="@Model.Game.Id" />
                    </form>
                    <button type="submit" form="FormDrawChromino" class="btn btn-toolbar btn-draw"></button>
                }
                else if (pseudosExceptCurrentPlayer_Chrominos.Count > 0)
                {
                    <form id="FormSkip" asp-action="Skip" style="display:none">
                        <input name="gameId" value="@Model.Game.Id" />
                    </form>
                    <button type="submit" form="FormSkip" class="btn btn-toolbar btn-skip"></button>
                }
            }
            else
            {
                playerTurn = $"C'est à {@Model.PlayerTurn.UserName} de jouer";
            }
        }
        @if ((Model.Game.Status == GameStatus.SingleInProgress || Model.Game.Status == GameStatus.InProgress) && Model.PlayerTurn.Id == Model.PlayerId &&
(Model.IdentifiedPlayerChrominosVM.Count != 1 || Model.IdentifiedPlayerChrominosVM[0].SquaresViewModel[1].Color != ColorCh.Cameleon))
        {
            <button class="btn btn-toolbar btn-play" style="display:none" onclick="PlayChromino()"></button>
        }

        @if (!Model.BotsId.Contains(Model.PlayerTurn.Id) && Model.PlayerTurn.Id != Model.PlayerId || Model.Game.Status == GameStatus.Finished || Model.Game.Status == GameStatus.SingleFinished)
        {
            <form id="FormNextGame" asp-action="NextToPlay" style="display:none">
            </form>
            <button type="submit" form="FormNextGame" class="btn btn-toolbar btn-nextgame"></button>
        }

    </div>
    <br>
    <div id="gameArea">
        <div id="PlayerHistory">
            <div id="previousNextButton">
                <div id="previousButton"></div>
                <div id="nextButton"></div>
                <div id="PlayerHistoryPseudo"></div>
            </div>
        </div>
        @for (int j = 0; j < Model.LinesNumber; j++)
        {
            <div class="gameLineArea">
                @for (int i = 0; i < Model.ColumnsNumber; i++)
                {
                    int index = i + j * Model.ColumnsNumber;
                    ColorCh color = Model.SquaresViewModel[index].Color;
                    if (color != ColorCh.None)
                    {
                        string classColor = color.ToString();
                        string classOpenSides = "Square Open";
                        if (Model.SquaresViewModel[index].OpenRight)
                            classOpenSides += "Right";
                        if (Model.SquaresViewModel[index].OpenBottom)
                            classOpenSides += "Bottom";
                        if (Model.SquaresViewModel[index].OpenLeft)
                            classOpenSides += "Left";
                        if (Model.SquaresViewModel[index].OpenTop)
                            classOpenSides += "Top";
                        <div id="Grid_@index" class="@classOpenSides @classColor"></div>
                    }
                    else
                    {
                        string classCloseEdge = "Square ";
                        if (i < Model.ColumnsNumber - 1 && Model.SquaresViewModel[i + 1 + j * Model.ColumnsNumber].Color != ColorCh.None)
                            classCloseEdge += " CloseRight";
                        if (j < Model.LinesNumber - 1 && Model.SquaresViewModel[i + (j + 1) * Model.ColumnsNumber].Color != ColorCh.None)
                            classCloseEdge += " CloseBottom";
                        if (i > 0 && Model.SquaresViewModel[i - 1 + j * Model.ColumnsNumber].Color != ColorCh.None)
                            classCloseEdge += " CloseLeft";
                        if (j > 0 && Model.SquaresViewModel[i + (j - 1) * Model.ColumnsNumber].Color != ColorCh.None)
                            classCloseEdge += " CloseTop";
                        <div class="@classCloseEdge"></div>
                    }
                }
            </div>
        }
    </div>
    @foreach (ChrominoVM chrominosViewModel in Model.IdentifiedPlayerChrominosVM)
    {
        string id = chrominosViewModel.ChrominoId.ToString();
        <div id="@id" class="handPlayerChromino">
            @for (int i = 0; i < 3; i++)
            {
                string classOpenSides;
                switch (i)
                {
                    case 0:
                        classOpenSides = "OpenRight";
                        break;
                    case 1:
                        classOpenSides = "OpenRightLeft";
                        break;
                    case 2:
                    default:
                        classOpenSides = "OpenLeft";
                        break;
                }
                ColorCh color = chrominosViewModel.SquaresViewModel[i].Color;
                string classColor = color.ToString();
                <div class="Square @classOpenSides @classColor"></div>
            }
        </div>
    }
    <form id="FormSendMove" asp-action="Play" hidden>
        <input id="FormGameId" name="gameId" value="@Model.Game.Id" />
        <input id="FormChrominoId" name="chrominoId" />
        <input id="FormX" name="x" />
        <input id="FormY" name="y" />
        <input id="FormOrientation" name="orientation" />
        <input id="FormFlip" name="flip" />
    </form>


    @if (Model.BotsId.Contains(Model.PlayerTurn.Id) && Model.Game.Status != GameStatus.Finished)
    {
        <script>
            window.onload = function () {
                location.assign("@Url.Action("PlayBot", "Game", new { id = Model.Game.Id, botId = Model.PlayerTurn.Id})");
            }
        </script>
    }

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/jquery.draggableTouch.js"></script>
    <script src="~/js/jquery.popupoverlay.min.js"></script>
    <script src="~/js/game.js" asp-append-version="true"></script>

    @{
        int horizontal = (int)Orientation.Horizontal;
        int vertical = (int)Orientation.Vertical;
        bool showInfoPopup = false;
        bool showBotPlayingInfoPopup = false;
        if (TempData["ShowInfos"] != null || Model.Game.Status == GameStatus.Finished || Model.Game.Status == GameStatus.SingleFinished || (Model.PlayerTurn.Id == Model.PlayerId && !Model.GamePlayerTurn.PreviouslyDraw && TempData["PlayReturn"] == null && (pseudosExceptCurrentPlayer_Chrominos.ContainsValue(1) || pseudosExceptCurrentPlayer_Chrominos.ContainsValue(0))))
            showInfoPopup = true;
        else if (TempData["ShowBotPlayingInfoPopup"] != null)
            showBotPlayingInfoPopup = true;
    }

    <script>
    var PreviouslyDraw = @Model.GamePlayerTurn.PreviouslyDraw.ToString().ToLower();
    @{string thisPlayerTurn = (Model.PlayerTurn.Id == Model.PlayerId).ToString().ToLower();}
    var ThisPlayerTurn = @thisPlayerTurn;
        var Squares = new Array;
        var Pseudos = new Array;
    @{
        byte move = (byte)(Model.Game.Move - 1);
        for (int iChromino = 0; iChromino < Model.ChrominosPlayedVM.Count; iChromino++)
        {
            if (move == 0)
                break;
            while (move > Model.ChrominosPlayedVM[iChromino].Move)
            {
                string playerPass = Model.Pseudos[(move - 1) % Model.Pseudos.Count] + " a passé";
                @:Pseudos.push("@playerPass");
                for (int i = 0; i < 3; i++)
                {
                    @:Squares.push("Na");
                }
                move--;
            }
            @:Pseudos.push("@Model.Pseudos[(move - 1) % Model.Pseudos.Count]");
            for (int i = 0; i < 3; i++)
            {
                int index = Model.ChrominosPlayedVM[iChromino].IndexesX[i] + Model.ChrominosPlayedVM[iChromino].IndexesY[i] * Model.ColumnsNumber;
                @:Squares.push("Grid_" + @index);
            }
            move--;
        }
    }
    var GameAreaLinesNumber = @Model.LinesNumber;
    var GameAreaColumnsNumber = @Model.ColumnsNumber;
    var XMin = @Model.XMin;
    var YMin = @Model.YMin;
    var Horizontal = @horizontal;
    var Vertical = @vertical;
    var NotReadMessages = @Model.GamePlayerIdentified.NotReadMessages;
    var PlayReturn = "@playReturn.ToString()";
    var ShowInfoPopup = @showInfoPopup.ToString().ToLower();
    var ShowBotPlayingInfoPopup = @showBotPlayingInfoPopup.ToString().ToLower();
    </script>
</body>
</html>

<div id="infoPopup" style="display:none">
    <img src="~/image/Info.svg" height="65" width="65" alt="info" />
    @if (Model.Game.Status == GameStatus.Finished || Model.Game.Status == GameStatus.SingleFinished)
    {
        <h2>La partie est terminée</h2>
        <br />
    }
    else
    {
        <h3>@playerTurn</h3>
    }
    @foreach (var pseudoChromino in Model.PseudosChrominos)
    {
        string pseudo = pseudoChromino.Key;
        if (pseudo == Model.PlayerPseudo)
            pseudo = "Vous";
        if (pseudoChromino.Value > 1)
        {
            <p>@pseudo : @pseudoChromino.Value chrominos en main</p>
        }
        else if (pseudoChromino.Value == 1)
        {
            <div class="opponentLastChromino">
                @pseudo &nbsp;
                @for (int i = 0; i < 3; i++)
                {
                    string classOpenSides;
                    switch (i)
                    {
                        case 0:
                            classOpenSides = "OpenRight";
                            break;
                        case 1:
                            classOpenSides = "OpenRightLeft";
                            break;
                        case 2:
                        default:
                            classOpenSides = "OpenLeft";
                            break;
                    }
                    ColorCh color = Model.Pseudos_LastChrominoVM[pseudoChromino.Key].SquaresViewModel[i].Color;
                    string classColor = color.ToString();
                    <div class="Square @classOpenSides @classColor"></div>
                }
            </div>
        }
        else
        {
            if (pseudoChromino.Key == Model.PlayerPseudo)
            {
                <p class="winner">Vous avez gagné la partie</p>
            }
            else
            {
                <p class="winner">@pseudoChromino.Key a gagné la partie</p>
            }
        }
    }
    <br />
    @if (Model.ChrominosInStack > 1)
    {
        <p class="infoMineure">Pioche : @Model.ChrominosInStack chrominos</p>
    }
    else if (Model.ChrominosInStack == 1)
    {
        <p class="infoMineure">Pioche : 1 chromino</p>
    }
    else
    {
        <p class="infoMineure">Il n'y a plus de chrominos dans la pioche</p>
    }
</div>
<div id="errorPopup" style="display:none">
    <img src="~/image/Error.svg" height="80" width="80" alt="erreur" />
    @switch (playReturn)
    {
        case PlayReturn.NotFree:
            <p id="errorMessage">L'emplacement où vous posez votre chromino n'est pas libre.</p>
            <p style="text-align:center">Merci de rejouer.</p>
            break;
        case PlayReturn.DifferentColorsAround:
            <p id="errorMessage">Les cotés de votre chromino ne peuvent pas toucher des couleurs différentes.</p>
            <p style="text-align:center">Merci de rejouer.</p>
            <img class="example" src="~/image/example/DiffSides.svg" alt="example" />
            <p style="text-align:center; font-size:small">exemple invalide et exemple valide</p>
            break;
        case PlayReturn.NotMinTwoSameColors:
            <p id="errorMessage">Au moins 2 cotés de votre chromino doivent toucher un chromino en jeu.</p>
            <p style="text-align:center">Merci de rejouer.</p>
            <img class="example" src="~/image/example/2Sides.svg" alt="example" />
            <p style="text-align:center; font-size:small">exemples valides</p>
            break;
        case PlayReturn.LastChrominoIsCameleon:
            <p id="errorMessage">Vous ne pouvez pas jouer un chromino caméléon en dernier.</p>
            <p style="text-align:center">Merci de piocher un chromino.</p>
            <img class="example" src="~/image/example/LastTurnCameleon.svg" alt="example" />
            <p style="text-align:center; font-size:small">exemple de chromino Caméléon</p>
            break;
        case PlayReturn.NotPlayerTurn:
            <p id="errorMessage">Vous avez déjà joué.</p>
            <p style="text-align:center">Merci d'attendre votre tour.</p>
            break;
        default:
            <p id="errorMessage"></p>
            <p id="errorMessageEnd" style="text-align:center"></p>
            break;
    }
</div>
<div id="MemoPopup" class="popup-memochat" style="display:none">
    <div>
        <form asp-action="Add" asp-controller="Memo">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <input name="gameId" value="@Model.Game.Id" type="hidden" />
                <label asp-for="GamePlayerIdentified.Memo"></label>
                <textarea asp-for="GamePlayerIdentified.Memo" name="memo" class="form-control" rows="15" placeholder="Mémo (visible seulement par vous)">@Model.GamePlayerIdentified.Memo</textarea>
                <span asp-validation-for="GamePlayerIdentified.Memo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Enregistrer</button>
            </div>
        </form>
    </div>
</div>
<div id="ChatPopup" class="popup-memochat" style="display:none">
    <form id="form-SetReadChat" asp-action="SetRead" asp-controller="Chat" hidden>
        <input name="gameId" value="@Model.Game.Id" type="hidden" />
    </form>
    <div>
        <form asp-action="Add" asp-controller="Chat">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <input name="gameId" value="@Model.Game.Id" type="hidden" />
                <label asp-for="Game.Chat"></label>
                <textarea id="ChatPopup-textarea" class="form-control" rows="14" disabled>@Model.Game.Chat</textarea>
                <button id="ChatPopup-Read" form="form-SetReadChat" type="submit" class="btn btn-primary" style="display:none">Marquer comme lu</button>
            </div>
            <div class="form-group">
                <input name="chat" class="form-control" placeholder="Ajouter un message (pour tous)" required />
                <span asp-validation-for="Game.Chat" class="text-danger"></span>
                <button id="ChatPopup-Submit" type="submit" class="btn btn-primary">Envoyer</button>
            </div>
        </form>
    </div>
</div>
<div id="botPlayingInfoPopup" style="display:none">
    <img src="~/image/Info.svg" height="65" width="65" alt="info" />
    <p>L'ordinateur est en train de jouer.</p>
    <p>Merci de patienter quelques secondes...</p>
    <img src="~/image/Wait.gif" height="65" alt="patientez" />
</div>
@if (!Model.NoTips)
{
    <div id="playingInfoPopup" style="display:none">
        <img src="~/image/Info.svg" height="65" width="65" alt="info" />
        <p>Vous avez posé un chromino dans le jeu sans le valider.</p>
        <p>Pensez à le valider en appuyant sur le bouton <button id="buttonInfoForPlaying" class="btn btn-toolbar btn-play" onclick="PlayChromino()"></button></p>
        <p>Ou en appuyant sur le chromino jusqu'au flash.</p>
        <form id="FormDisableTips" asp-action="DisableTips" asp-controller="Player">
            <input name="gameId" value="@Model.Game.Id" type="hidden" />
            <input id="dontShowTips" name="dontShowTips" type="checkbox" />Ne plus afficher
        </form>
        <button class="btn btn-primary" onclick="ClosePopupTips('#playingInfoPopup', '#dontShowTips');">Ok</button>
    </div>
}