@using Data.Enumeration;
@using  Data.ViewModel;

@model GameViewModel;
@{
    Layout = null;
    ViewData["Title"] = "Chromino - Play !";
    string gameStatus;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>

    <div id="toolbar">
        <div>
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        </div>

        @switch (Model.GameStatus)
        {
            case GameStatus.Finished:
                gameStatus = "finished";
                break;

            case GameStatus.Aborted:
                gameStatus = "aborted";
                break;

            case GameStatus.InProgress:
                gameStatus = "in progress";
                break;

            case GameStatus.InPause:
            default:
                gameStatus = "in pause";
                break;
        }
        <p>Game is @gameStatus  -  Chrominos in game : @Model.ChrominosInGame  -  Chrominos in stack : @Model.ChrominosInStack</p>
        @for (int i = 0; i < Model.PlayerNumberChrominos.Count; i++)
        {
            <p>Player @(i + 1)  : @Model.PlayerNumberChrominos[i] in hand</p>
        }

        <div class="row">
            <div class="col-md-4">
                <form asp-action="AutoPlay">
                    <input name="gameId" type="hidden" value="@Model.GameId" />
                    <div>
                        <input type="checkbox" name="autoPlay" id="autoPlay" value="true" unchecked>
                        <label for="autoPlay">Autoplay</label>
                    </div>
                    <input type="submit" value="Play" class="btn btn-primary" />
                </form>
            </div>
        </div>
        <div id="chrominoPosition">chromino position : </div>
    </div>


    <br>
    <div id="gameAreaLinesNumber" hidden>@Model.LinesNumber</div>
    <div id="gameAreaColumnsNumber" hidden>@Model.ColumnsNumber</div>
    <div id="gameArea" display="none">
        @for (int j = 0; j < Model.LinesNumber; j++)
        {
            <div class="gameLineArea">
                @for (int i = 0; i < Model.ColumnsNumber; i++)
                {
                    int index = i + j * Model.ColumnsNumber;
                    OpenEdge openEdge = Model.SquaresViewModel[index].Edge;
                    SquareViewModelState state = Model.SquaresViewModel[index].State;

                    if (state != SquareViewModelState.Free)
                    {
                        string styleColor;
                        switch (state)
                        {
                            case SquareViewModelState.Blue:
                                styleColor = "style=background-color:dodgerblue";
                                break;
                            case SquareViewModelState.Green:
                                styleColor = "style=background-color:green";
                                break;
                            case SquareViewModelState.Purple:
                                styleColor = "style=background-color:purple";
                                break;
                            case SquareViewModelState.Red:
                                styleColor = "style=background-color:red";
                                break;
                            case SquareViewModelState.Yellow:
                                styleColor = "style=background-color:yellow";
                                break;
                            case SquareViewModelState.Cameleon:
                            default:
                                styleColor = "style=background-color:burlywood";
                                break;
                        }
                        switch (openEdge)
                        {
                            case OpenEdge.Right:
                                <div class="squareOpenRight" @styleColor></div>
                                break;
                            case OpenEdge.Bottom:
                                <div class="squareOpenBottom" @styleColor></div>
                                break;
                            case OpenEdge.Left:
                                <div class="squareOpenLeft" @styleColor></div>
                                break;
                            case OpenEdge.Top:
                                <div class="squareOpenTop" @styleColor></div>
                                break;
                            case OpenEdge.BottomTop:
                                <div class="squareOpenTopBotom" @styleColor></div>
                                break;
                            case OpenEdge.RightLeft:
                                <div class="squareOpenLeftRight" @styleColor></div>
                                break;
                            default:
                                int a = 55;
                                break;
                        }
                    }
                    else
                    {
                        openEdge = OpenEdge.None;
                        if (i < Model.ColumnsNumber - 1)
                        {
                            int rightIndex = (i + 1) + j * Model.ColumnsNumber;
                            OpenEdge rightOpenEdge = Model.SquaresViewModel[rightIndex].Edge;
                            if (Model.SquaresViewModel[rightIndex].State != SquareViewModelState.Free)
                            {
                                openEdge = OpenEdge.Right;
                            }
                        }

                        if (j < Model.LinesNumber - 1)
                        {
                            int bottomIndex = i + (j + 1) * Model.ColumnsNumber;
                            OpenEdge bottomOpenEdge = Model.SquaresViewModel[bottomIndex].Edge;
                            if (Model.SquaresViewModel[bottomIndex].State != SquareViewModelState.Free)
                            {
                                switch (openEdge)
                                {
                                    case OpenEdge.None:
                                        openEdge = OpenEdge.Bottom;
                                        break;
                                    case OpenEdge.Right:
                                        openEdge = OpenEdge.RightBottom;
                                        break;
                                }
                            }
                        }

                        if (i > 0)
                        {
                            int leftIndex = (i - 1) + j * Model.ColumnsNumber;
                            OpenEdge leftOpenEdge = Model.SquaresViewModel[leftIndex].Edge;
                            if (Model.SquaresViewModel[leftIndex].State != SquareViewModelState.Free)
                            {
                                switch (openEdge)
                                {
                                    case OpenEdge.None:
                                        openEdge = OpenEdge.Left;
                                        break;
                                    case OpenEdge.Right:
                                        openEdge = OpenEdge.RightLeft;
                                        break;
                                    case OpenEdge.Bottom:
                                        openEdge = OpenEdge.BottomLeft;
                                        break;
                                    case OpenEdge.RightBottom:
                                        openEdge = OpenEdge.RightBottomLeft;
                                        break;
                                }
                            }
                        }

                        if (j > 0)
                        {
                            int topIndex = i + (j - 1) * Model.ColumnsNumber;
                            OpenEdge topOpenEdge = Model.SquaresViewModel[topIndex].Edge;
                            if (Model.SquaresViewModel[topIndex].State != SquareViewModelState.Free)
                            {
                                switch (openEdge)
                                {
                                    case OpenEdge.None:
                                        openEdge = OpenEdge.Top;
                                        break;
                                    case OpenEdge.Right:
                                        openEdge = OpenEdge.RightTop;
                                        break;
                                    case OpenEdge.Bottom:
                                        openEdge = OpenEdge.BottomTop;
                                        break;
                                    case OpenEdge.RightBottom:
                                        openEdge = OpenEdge.RightBottomTop;
                                        break;
                                    case OpenEdge.Left:
                                        openEdge = OpenEdge.LeftTop;
                                        break;
                                    case OpenEdge.RightLeft:
                                        openEdge = OpenEdge.RightLeftTop;
                                        break;
                                    case OpenEdge.BottomLeft:
                                        openEdge = OpenEdge.BottomLeftTop;
                                        break;
                                    case OpenEdge.RightBottomLeft:
                                        openEdge = OpenEdge.All;
                                        break;
                                }
                            }
                        }
                        switch (openEdge)
                        {
                            case OpenEdge.None:
                                <div class="squareFreeCloseNone"></div>
                                break;
                            case OpenEdge.Top:
                                <div class="squareFreeCloseTop"></div>
                                break;
                            case OpenEdge.RightTop:
                                <div class="squareFreeCloseRightTop"></div>
                                break;
                            case OpenEdge.BottomTop:
                                <div class="squareFreeCloseTopBotom"></div>
                                break;
                            case OpenEdge.RightBottomTop:
                                <div class="squareFreeCloseRightBottomTop"></div>
                                break;
                            case OpenEdge.LeftTop:
                                <div class="squareFreeCloseLeftTop"></div>
                                break;
                            case OpenEdge.RightLeftTop:
                                <div class="squareFreeCloseRightLeftTop"></div>
                                break;
                            case OpenEdge.BottomLeftTop:
                                <div class="squareFreeCloseBottomLeftTop"></div>
                                break;
                            case OpenEdge.All:
                                <div class="squareFreeCloseAll"></div>
                                break;
                            case OpenEdge.Right:
                                <div class="squareFreeCloseRight"></div>
                                break;
                            case OpenEdge.Bottom:
                                <div class="squareFreeCloseBottom"></div>
                                break;
                            case OpenEdge.RightBottom:
                                <div class="squareFreeCloseRightBottom"></div>
                                break;
                            case OpenEdge.Left:
                                <div class="squareFreeCloseLeft"></div>
                                break;
                            case OpenEdge.BottomLeft:
                                <div class="squareFreeCloseBottomLeft"></div>
                                break;
                            case OpenEdge.RightBottomLeft:
                                <div class="squareFreeCloseRightBottomLeft"></div>
                                break;
                            case OpenEdge.RightLeft:
                                <div class="squareFreeCloseRightLeft"></div>
                                break;
                            default:
                                int a = 55;
                                break;
                        }
                    }
                }
            </div>
        }
    </div>


    <div id="handPlayer">
        @{
            int iHandPlayerChromino = 0;
        }
        @foreach (ChrominoViewModel chrominosViewModel in Model.IdentifiedPlayerChrominosViewModel)
        {
            string id = "chromino" + iHandPlayerChromino;
            <div id="@id" class="handPlayerChromino" @*ontouchstart="TouchStart(this, 'touch')" ontouchmove="TouchMove(this, 'touch')" ontouchend="TouchEnd(this)"*@>
                @for (int i = 0; i < 3; i++)
                {
                    OpenEdge openEdge = chrominosViewModel.SquaresViewModel[i].Edge;
                    SquareViewModelState state = chrominosViewModel.SquaresViewModel[i].State;
                    string styleColor;
                    switch (state)
                    {
                        case SquareViewModelState.Free:
                            styleColor = "style=background-color:white";
                            openEdge = OpenEdge.All;
                            break;
                        case SquareViewModelState.Blue:
                            styleColor = "style=background-color:dodgerblue";
                            break;
                        case SquareViewModelState.Green:
                            styleColor = "style=background-color:green";
                            break;
                        case SquareViewModelState.Purple:
                            styleColor = "style=background-color:purple";
                            break;
                        case SquareViewModelState.Red:
                            styleColor = "style=background-color:red";
                            break;
                        case SquareViewModelState.Yellow:
                            styleColor = "style=background-color:yellow";
                            break;
                        case SquareViewModelState.Cameleon:
                        default:
                            styleColor = "style=background-color:burlywood";
                            break;
                    }
                    switch (openEdge)
                    {
                        case OpenEdge.Right:
                            <div class="squareOpenRight" @styleColor></div>
                            break;
                        case OpenEdge.Bottom:
                            <div class="squareOpenBottom" @styleColor></div>
                            break;
                        case OpenEdge.Left:
                            <div class="squareOpenLeft" @styleColor></div>
                            break;
                        case OpenEdge.Top:
                            <div class="squareOpenTop" @styleColor></div>
                            break;
                        case OpenEdge.BottomTop:
                            <div class="squareOpenTopBotom" @styleColor></div>
                            break;
                        case OpenEdge.RightLeft:
                        default:
                            <div class="squareOpenLeftRight" @styleColor></div>
                            break;
                    }
                }
            </div>
            iHandPlayerChromino++;
        }
    </div>



    @if (Model.AutoPlay == true && (Model.GameStatus != GameStatus.Finished && Model.GameStatus != GameStatus.Aborted))
    {
        <script>
            window.onload = function () { continueRandomGame(); }

            function continueRandomGame() {
                location.assign("@Url.Action("ContinueRandomGame", "Game", new { id = Model.GameId })");
            }
        </script>
    }

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="~/js/jquery.draggableTouch.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
 
    
    <script>
    var gameAreaLinesNumber = @Model.LinesNumber;
    var gameAreaColumnsNumber = @Model.ColumnsNumber;
    </script>


</body>
</html>
