@using Data.Models
@using Data.ViewModel
@using Data.Enumeration
@using Tool
@model GameVM
@{
    const string classFree = "Free";
    Layout = "_LayoutShow.cshtml";
    ViewData["Title"] = "Chromino - Jouer";
    Dictionary<string, int> pseudosExceptCurrentPlayer_Chrominos = new Dictionary<string, int>(Model.PseudosChrominos);
    pseudosExceptCurrentPlayer_Chrominos.Remove("Vous");
    int memosNumbers = 0;
    int notReadMessages = 0;
    if (Model.GamePlayer != null)
    {
        memosNumbers = Model.GamePlayer.Memo == null ? 0 : Model.GamePlayer.Memo.Count(x => x == '\n') + 1;
        notReadMessages = Model.GamePlayer.NotReadMessages;
    }
    string styleButtonSkip = "display:none";
    string styleButtonDraw = "display:none";
    const int horizontal = (int)Orientation.Horizontal;
    const int vertical = (int)Orientation.Vertical;
    bool showInfoPopup = TempData["ShowInfo"] != null ? true : false;

}
<div id="toolbar">
    <form id="FormHome" asp-action="Index" asp-controller="Home" style="display:none"></form>
    <button id="ButtonHome" class="doAction btn btn-toolbar img-home"></button>
    <button id="ButtonInfo" class="doAction btn btn-toolbar img-infogame"></button>
    <button id="ButtonHelp" class="doAction btn btn-toolbar img-helpPlay" style="display:none">
        <p id="HelpNumber" class="notification notification-green">@Model.Player.Help</p>
    </button>
    <button id="ButtonChat" class="doAction btn btn-toolbar img-chat" style="display:none">
        <p id="NotifChat" class="notification notification-red" style="display:none">@notReadMessages</p>
    </button>
    <button id="ButtonMemo" class="doAction btn btn-toolbar img-memo">
        <p id="NotifMemo" class="notification notification-green" style="display:none"></p>
    </button>
    <button id="ButtonDrawChromino" class="doAction btn btn-toolbar img-draw" style="@styleButtonDraw"></button>
    <button id="ButtonSkipTurn" class="doAction btn btn-toolbar img-skip" style="@styleButtonSkip"></button>
    <button id="ButtonPlayingChromino" class="doAction btn btn-toolbar img-play" style="display:none"></button>
    <form id="FormNextGame" asp-action="ShowNextToPlay" style="display:none"></form>
    <button id="ButtonNextGame" class="doAction btn btn-toolbar img-nextgame" style="display:none"></button>
</div>
<br>
<div id="HistoryChrominos" class="doAction">
    <button id="ButtonPreviousChromino" class="btn btn-historyChromino img-previousChromino"></button>
    <button id="ButtonNextChromino" class="btn btn-historyChromino img-nextChromino"></button>
</div>
<div id="PlayerHistoryPseudo"></div>
<div id="GameArea">
    @for (int j = 0; j < Model.LinesNumber; j++)
    {
        <div id="Line_@j" class="gameLineArea">
            @for (int i = 0; i < Model.ColumnsNumber; i++)
            {
                int index = i + j * Model.ColumnsNumber;
                ColorCh color = Model.Squares[index].Color;
                if (color != ColorCh.None)
                {
                    string classOpenSides = "Square Open";
                    if (Model.Squares[index].OpenRight) classOpenSides += "Right";
                    if (Model.Squares[index].OpenBottom) classOpenSides += "Bottom";
                    if (Model.Squares[index].OpenLeft) classOpenSides += "Left";
                    if (Model.Squares[index].OpenTop) classOpenSides += "Top";
                    string classColor = color.ToString();
                    string doAction = "";
                    if (color == ColorCh.Cameleon)
                        doAction = "doAction";
                    <div id="Square_@index" class="@doAction @classOpenSides @classColor"></div>
                }
                else
                {
                    string classColor = classFree;
                    string classCloseEdge = "Square";
                    if (i < Model.ColumnsNumber - 1 && Model.Squares[i + 1 + j * Model.ColumnsNumber].Color != ColorCh.None) classCloseEdge += " CloseRight";
                    if (j < Model.LinesNumber - 1 && Model.Squares[i + (j + 1) * Model.ColumnsNumber].Color != ColorCh.None) classCloseEdge += " CloseBottom";
                    if (i > 0 && Model.Squares[i - 1 + j * Model.ColumnsNumber].Color != ColorCh.None) classCloseEdge += " CloseLeft";
                    if (j > 0 && Model.Squares[i + (j - 1) * Model.ColumnsNumber].Color != ColorCh.None) classCloseEdge += " CloseTop";
                    <div id="Square_@index" class="@classCloseEdge @classColor"></div>
                }
            }
        </div>
    }
</div>
<div id="Hand" class="doAction">
    @foreach (ChrominoVM chrominoVM in Model.PlayerChrominosVM)
    {
        <div id="@chrominoVM.ChrominoId" class="handPlayerChromino">
            @for (int i = 0; i < 3; i++)
            {
                ColorCh color = chrominoVM.Squares[i].Color;
                string classColor = color.ToString();
                <div class="Square @classColor"></div>
            }
        </div>
    }
</div>

@section ScriptPreJs
{
    <script>
var UrlTipOff = '@Url.Action("Off", "Tip")';
var UrlMemoAdd = '@Url.Action("Add", "Memo")';
var UrlChatAdd = '@Url.Action("Add", "Chat")';
var UrlChatRead = '@Url.Action("Read", "Chat")';
var UrlPlay = '@Url.Action("Play")';
var UrlSkip = '@Url.Action("SkipTurn")';
var UrlDraw = '@Url.Action("DrawChromino")';
var UrlPlayBot = '@Url.Action("PlayBot")';
var UrlHelp = '@Url.Action("Help")';
var UrlEnd = '@Url.Action("End")';
var UrlPlayersIdChrominosNumber = '@Url.Action("IdsChrominosNumber", "Player")';
var UrlWaitOpponentPlayed = '@Url.Action("WaitOpponentPlayed")';
var IsGameFinish = @Model.Game.Status.IsFinished().ToJs();
var InStack = @Model.ChrominosInStack;
var PlayerId = @Model.Player.Id;
var PlayerTurnId = @Model.PlayerTurn.Id;
var PlayerTurnName = "@Model.PlayerTurn.UserName";
var OpponentsAreBots = @Model.OpponentsAreBots.ToJs();
var IsBotTurn = @Model.PlayerTurn.Bot.ToJs();
var PlayersNumber = @Model.Pseudos.Count;
var GameId = @Model.Game.Id;
var HelpNumber = @Model.Player.Help;
var HaveDraw = @Model.GamePlayer.PreviouslyDraw.ToJs();
var GameAreaLinesNumber = @Model.LinesNumber;
var GameAreaColumnsNumber = @Model.ColumnsNumber;
var XMin = @Model.XMin;
var YMin = @Model.YMin;
var Horizontal = @horizontal;
var Vertical = @vertical;
var NotReadMessages = @notReadMessages;
var MemosNumber = @memosNumbers;
var ShowInfoPopup = @showInfoPopup.ToJs();
var PlayErrors = new Array;
var Tips = new Array;
var HistoryChrominos = new Array;
@{
    foreach (PlayError playError in Model.PlayErrors)
    {
        @:PlayErrors.push({ name: "@playError.Name", description: "@Html.Raw(playError.Description)", illustrationPictureClass: "@playError.IllustrationPictureClass", illustrationPictureCaption: "@playError.IllustrationPictureCaption" });
    }

    foreach (Tip tip in Model.Tips)
    {
        @:Tips.push({ id: "@tip.Id", elementId: "@tip.DomElementId", headPictureClass:"@tip.HeadPictureClass", description: "@Html.Raw(tip.Description)", illustrationPictureClass: "@tip.IllustrationPictureClass" });
    }

    byte move = (byte)(Model.Game.Move - 1);
    for (int iChromino = 0; iChromino < Model.ChrominosPlayedVM.Count; iChromino++)
    {
        if (move == 0)
            break;
        while (move > Model.ChrominosPlayedVM[iChromino].Move)
        {
            string currentPseudo = Model.Pseudos[(move - 1) % Model.Pseudos.Count];
            string playerPass = currentPseudo == "Vous" ? "Vous avez passé" : $"{currentPseudo} a passé";
            @:HistoryChrominos.push({ playerName: "@playerPass", square0: "Na", square1: "Na", square2: "Na"});
            move--;
        }
        string[] squares = new string[3];
        for (int i = 0; i < 3; i++)
            squares[i] = "Square_" + (Model.ChrominosPlayedVM[iChromino].IndexesX[i] + Model.ChrominosPlayedVM[iChromino].IndexesY[i] * Model.ColumnsNumber).ToString();
        @:HistoryChrominos.push({ playerName: "@Model.Pseudos[(move - 1) % Model.Pseudos.Count]", square0: "@squares[0]", square1: "@squares[1]", square2: "@squares[2]" });
        move--;
    }
}
    </script>
}
<div id="PopupInfo" class="popup" style="display:none">
    <div class="div-head img-infogame" title="information"></div>
    <div id="PopupInfoHead"></div>
    <form id="FormRematch" asp-action="Rematch" hidden>
        <input name="playersName" value="@Model.Player.UserName" />
        @foreach (var pseudo_chromino in pseudosExceptCurrentPlayer_Chrominos)
        {
            <input name="playersName" value="@pseudo_chromino.Key" />
        }
    </form>
    <div id="Askrematch" style="display:none">
        <div id="Askrematch-text" class="askrematch"></div>
        <button type="submit" form="FormRematch" class="btn btn-toolbar img-rematch askrematch"></button>
    </div>
    @foreach (var pseudoId in Model.PseudosIds)
    {
        <div id="Player_@pseudoId.Value"></div>
    }
    <br />
    <p id="InStack" class="minorInfo"></p>
</div>
<div id="Waiting" class="cssload-container-general" style="display:none">
    <div class="cssload-internal"><div class="cssload-ballcolor cssload-ball_1"> </div></div>
    <div class="cssload-internal"><div class="cssload-ballcolor cssload-ball_2"> </div></div>
    <div class="cssload-internal"><div class="cssload-ballcolor cssload-ball_3"> </div></div>
    <div class="cssload-internal"><div class="cssload-ballcolor cssload-ball_4"> </div></div>
</div>